@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif sans-serif;

}

.container {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: auto auto auto;
    
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    grid-row: 1/1;
    grid-column: 1/4;
    display: flex;
   
    justify-content: space-between;
    align-items: center;
 

}

nav a {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 12px;;
}

a.item1 {

    padding-left: 15px;
}

a.item2 {

    flex-grow: 1;
    margin-left: 15px;
}

a.item3 {

    margin-left: 15px;
}
a.item4 {

    margin-left: 15px;
}
a.item5 {

    margin-left: 15px;
}
a.item6 {

    margin-left: 15px;
    padding-right: 15px;
}

.box1 {
    border: 1px solid gray;
    background-color: gray;
    width: 4px;
    height: 4px;
    margin-left: 10px;
    margin-top: 5px;
}

.box2 {
    border: 1px solid gray;
    background-color: gray;
    width: 4px;
    height: 4px;
    margin-top: -6px;
    
}

.box3 {
    border: 1px solid gray;
    background-color: gray;
    width: 4px;
    height: 4px;
    margin-top: 4px;
}

.box4 {
    border: 1px solid gray;
    background-color: gray;
    width: 4px;
    height: 4px;
    margin-left: 10px;
    margin-top: -6px;
}

.letter{
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-top: 5px;
    color: white;
    background-color: rgb(64, 183, 238);
}
.logobox {
    margin-top: 100px;
    margin-left: 240px;
   grid-column: 2/3; 
   grid-row: 2/3;
}

.logo img {
    width: 225px
}

.search {
    grid-column: 2/3;
    grid-row: 3/4;
}

.searchbar:focus{
    outline: none;
}
.searchbar:hover {
    box-shadow: 4px 4px 17px lightgrey;
}

.searchbar {
    width: 340px;
    height: 31px;
    margin-left: 190px;
    border-radius: 0px 20px 20px 0px;
    border: 1px solid lightgrey;
    border-left: none;
}

.inputs {
    grid-column: 2/3;
    grid-row: 3/4;
    margin-top: 30px;
    margin-left: 240px;
}

.luckybtn {
    margin-left: 5px;
    border: none;
    font-family: "Roboto";
    height: 30px;

}

.luckybtn:hover{
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 4px 4px 7px lightgrey;
}

.searchbtn {
    border:none;
    border: none;
    font-family: "Roboto";
    height: 30px;

}

.searchbtn:hover {
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 4px 4px 7px lightgrey;
}

.glass{
    height: 15px;
    width: 15px;
    margin-left: 8px;
    margin-top: 8px;
}

.mag {
    grid-column-start: 2;
    grid-row-start: 3;
    margin-top: 0px;
    border: 1px solid lightgray;
    height: 33px;
    width: 30px;
    margin-left: 160px;
    border-right: none;
    border-radius: 20px 0px 0px 20px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    background-color: rgba(241, 241, 241, 0.678);
    padding-right: 10px;
    margin-left: -8px;
    height: 30px;
    padding-top: 10px;
    margin-bottom: -5px;
    border: 1px solid rgb(241, 238, 238);

}

footer a {
    font-family: Arial, Helvetica, sans-serif, sans-serif !important;
    text-decoration: none;
    color: rgb(0,0,0, .6);
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
}

a.fitem1 {
    order: 1;
    flex-grow: 1;

}

a.fitem2 {
    order: 2; 
    flex-grow: 1;
    

}

article.fitem3 {
    order: 3;
    flex-grow: 1;
}

a.fitem4 {
    order: 4;

}

a.fitem5 {
    order: 5;

}

a.fitem6 {
    order: 6;

}